<html lang="en">
  <head>
    {{>head}}
    <title>Musical </title>
  </head>
  <body>
    <!-- Navigation bar-->
    {{>loginNav}}

    <!-- Header -->
    {{>homePage}}

    <!-- Footer-->
    {{>footer}}

  </body>
</html>