<div class="container-fluid">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/logedin"><i class="fas fa-music"></i> Musical</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<a href="/logedin"><i class="fas fa-home"></i> Home</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/profile"><span class="glyphicon glyphicon-user"></span>
						Profile
					</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>
						Log Out
				</a></li>
			</ul>
		</div>
	</nav>
</div>